<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
</head>

<body>
  <h1>PLANT HELPLINE</h1>
  <h2>The date and time on the server is: {{ time }}</h2>
  <h2> {{ text }} </h2>
  <a href="/auto/water/ON"><button>Turn ON Auto Watering</button></a>
  <a href="/auto/water/OFF"><button>Turn OFF Auto Watering</button></a>
  <a href="/sensor"><button>Check Soil Status</button></a> <br>
  <a href="/water/1"><button>Water 1 min</button></a>
  <a href="/water/5"><button>Water 5 min</button></a>
  <a href="/water/10"><button>Water 10 min</button></a>
  <a href="/last_watered"><button>Check Time Last Watered</button></a>
  <h2> Moisture Sensor History</h2>
  {% for table in [Moist_Hist.to_html(classes='data', header="true")] %}
              {{titles[loop.index]}}
              {{ table|safe }}
  {% endfor %}
</body>
</html>
